language_tabs:
  - json: JSON
  - shell: cURL

multiple_pages: {{ slate_multiple_pages }}

resources:
{{# sections }}
  - {{ resource_name }}:'/docs/{{ dirname }}/index.html'
{{/ sections }}

{{# sections }}
{{ dirname }}:
  {{# examples }}
  - {{ description }}:'{{ filename }}'
  {{/ examples }}
{{/ sections }}
---
