---
title: {{ api_name }}
language_tabs:
  - json: JSON
  - shell: cURL

multiple_pages: {{ slate_multiple_pages }}

resources:
  {{# sections }}
  - <a href="#" class='toc-h1 toc-link' data-title='{{ resource_name }}'>{{ resource_name }}</a>
  {{/ sections }}

{{# sections }}
{{ resource_name }}:
  {{# examples }}
  - <a href="{{ dirname }}/{{ filename }}" class='toc-h2 toc-link' data-title='{{ description }}'>{{ description }}</a>
  {{/ examples }}
{{/ sections }}
---

{{{ api_explanation }}}
