language_tabs:
  - json: JSON
  - shell: cURL

multiple_pages: {{ slate_multiple_pages }}

resources:
{{# sections }}
  - <a href="/docs/{{ dirname }}/index.html" class='toc-h1 toc-link' data-title='{{ dirname }}'>{{ resource_name }}</a>
{{/ sections }}

{{# sections }}
{{ dirname }}:
  {{# examples }}
  - <a href="/docs/{{ dirname }}/index.html#{{ filename }}" class='toc-h2 toc-link' data-title='{{ filename }}'>{{ description }}</a>
  {{/ examples }}
{{/ sections }}
---
